<!DOCTYPE html>

<html>
<head>
	<title>Foo-dinator</title>
    <%= stylesheet_link_tag "global" %>
</head>

<body>

<div id="pageContent">
    <header>
    <%= image_tag "hdr-main.gif", :alt => "Foo-dinator", :border => "0", :width => "754", :height => "67" %>
        <nav>
            <ul id="nav" class="clearFix">
                <li>
                    <a href="/fooderies" class="navLink">
                        <%= image_tag "tutorials-32.jpg", :alt => "Admin", :border => "0", :width => "32", :height => "32" %>
                        <br>
                        Admin
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    
    <div id="mainBody">
        <%= render 'form' %>
        <%= link_to 'Back', fooderies_path %>
    </div><!-- /.mainBody -->
</div><!-- /#pageContent -->
</body>
</html>







